ConnectionStrings__DefaultConnection=

MSSQL_SA_PASSWORD=
SQLSERVER_DATABASE=TaskManagementCofc
FRONTEND_PORT=8080

Jwt__Key=
Jwt__Issuer=taskManagmentCofc.Server
Jwt__Audience=taskmanagmentcofc.client
Jwt__ExpiresMinutes=60

SeedAdmin__FullName=System Admin
SeedAdmin__Email=admin@example.com
SeedAdmin__Password=

Smtp__Host=
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=
Smtp__FromName=Task Management
Smtp__EnableSsl=true
